<div class="navigation-pane">
  <div class="bookmarks">
    <div class="bookmark-header">FILES</div>
    <div class="bookmark-body">
      <div class="bookmark" (click)="allFiles()">
        All Files
      </div>
      <div class="bookmark" (click)="images()">Images</div>
      <div class="bookmark" (click)="documents()">Documents</div>
      <div class="bookmark" (click)="video()">Video</div>
      <div class="bookmark" (click)="music()">Music</div>
      <div class="bookmark" (click)="others()">Others</div>
    </div>
  </div>
</div>