<div class="navigation-pane">
  <div class="bookmarks">
    <div class="bookmark-header">FILES</div>
    <div class="bookmark-body">
      <div class="bookmark">
        <a href="">All Files</a>
      </div>
      <div class="bookmark"><a href="">Images</a></div>
      <div class="bookmark"><a href="">Documents</a></div>
      <div class="bookmark"><a href="">Video</a></div>
      <div class="bookmark"><a href="">Music</a></div>
      <div class="bookmark"><a href="">Others</a></div>
    </div>
  </div>
</div>